{% extends 'base.html' %}
{% block extra_head %}
    {% load recaptcha2 %}
    {% recaptcha_init %}
{% endblock extra_head %}
{% block page_content %}
    <div class="row">
        <h1 class="cover-heading">
            Projects
        </h1>
        <p class="lead">
            Far from fully inclusive, here are a few little projects I am putting up, mostly for sharing with my mentees.
        </p>
        <p>
            {% include 'projects_nav.html' %}
        </p>
    </div>
    <h2>
        Detailed Listing
    </h2>
    <div class="row text-left">
        <div class="col-12">
            <a href="{% url 'permute-form' %}">
                <div class="card bg-info">
                    <div class="card-header">
                        Permute
                    </div>
                    <div class="card-body">
                        Take an alphanumeric value from 1 - 6 characters in length and create all permutations of it.
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-12">
            <a href="{% url 'simple_grocery_list' %}">
                <div class="card bg-secondary">
                    <div class="card-header">
                        Simple Grocery List
                    </div>
                    <div class="card-body">
                        Add items and their departments to a simple javascript only grocery list that can be printed.
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
