@media print {
    body {
        margin: 100px 50px;
    }
    #form-wrapper,
    #instructions,
    #site-masthead,
    #site-footer {
        display: none;
    }
    #grocery_list,
    #grocery_list h2,
    #display_list {
        background-color: white !important;
        color: black !important;
        font-size: 16pt !important;
    }
    #grocery_list h2 {
        font-size: 22pt !important;
        font-weight: bold;
    }
    #grocery_list h4 {
        font-size: 20pt !important;
        font-weight: bold;
    }
}
